@page "/carritocompra"

<h1>Carrito de Compra:</h1>

<GenericList MyList="CarritoConProducto">
    <Body>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th></th>
                        <th></th>
                        <th>Cantidad</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var carrito in CarritoConProducto!)
                {

                    <tr>
                        <th><img class="img-fluid" style="width: 100px; height: 100px;" src="@carrito.FotoProducto" /></th>
                        <th>@carrito.NombreProducto</th>
                        <th>@carrito.PrecioTotal</th>
                        <th><button @onclick="@(() => DecrementarCantidad(carrito))">-</button></th>
                        <th>@carrito.CantidadProductos</th>
                        <th><button @onclick="@(() => IncrementarCantidad(carrito))">+</button></th>
                        <th><button class="btn btn-danger" @onclick="@(() => DeleteAsync(carrito))">Eliminar producto</button></th>
                    </tr>
                }
                </tbody>
            </table>



        <div class="container d-flex justify-content-between align-items-center">
            <p class="col-md-10">Total: @TotalCompra</p>
            <button class="btn btn-primary col-md-2" style="background-color:#0D6EFD">Realizar compra</button>
        </div>
        </Body>
</GenericList>