@page "/changePassword"

@if (loading)
{
    <Loading/>
}
    <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
        <DataAnnotationsValidator/>

        <div class="row align-items-center mb-3">
            <div class="col">
                <h1>Cambiar contraseña:</h1>
            </div>
            <div class="col text-end">
                <button class="btn btn-primary me-2" type="submit" style="background-color:#0D6EFD">Guardar cambios</button>
                <a class="btn btn-primary" style="background-color:#14FF00;color:black" href="/EditUser">Regresar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <label>Contraseña actual:</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.CurrentPassword"/>
                        <ValidationMessage For="@(()=>changePasswordDTO.CurrentPassword)"/>
                    </div>
                </div>
                <div class="mb-3">
                    <label>Nueva contraseña:</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.NewPassword" />
                        <ValidationMessage For="@(()=>changePasswordDTO.NewPassword)" />
                    </div>
                </div>
                <div class="mb-3">
                    <label>Confirmación de nueva contraseña:</label>
                    <div>
                        <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.Confirm" />
                        <ValidationMessage For="@(()=>changePasswordDTO.Confirm)" />
                    </div>
                </div>
            </div>
        </div>
    </EditForm>

