@page "/ofertas"

<h1>Ofertas Especiales</h1>



<div class="mb-3 container-fluid d-flex">
    <div class="col-md-12">
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />
    </div>
</div>

<div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
    <input style="width: 400px; background:#D9D9D9" type="text" class="form-control" id="titulo" placeholder="Buscar producto..."
           @bind-value="Filtro" />
    <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
    <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
</div>

<GenericList MyList="Ofertas">
    <Body>
        

        <div class="container mb-3">
            <div class="row">
                @foreach (var oferta in Ofertas!)
                {
                    <div class="col-md-3">
                        <div class="col-md-12">
                            <img style="width: 100px; height: 100px;"
                                 src="@oferta.FotoProducto"
                                 class="img-fluid" />
                        </div>
                        <div class="col-md-12">
                            <p>@oferta.PrecioAntiguo</p>
                        </div>
                        <div class="col-md-12">
                            <p>@oferta.PrecioOferta</p>
                        </div>
                        <div class="col-md-12">
                            <p>@oferta.DescripcionProducto</p>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary col-md-4 mb-2" style="background-color:#0D6EFD" @onclick="@(()=>IngresarCarritoCompra(oferta.IdProducto))">Añadir al carrito</button>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-danger col-md-4 mb-5" @onclick="@(()=>DeleteAsyc(oferta))">Eliminar Oferta</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Body>
</GenericList>
